beautifulsoup4==4.8.2
click==6.7
cycler==0.10.0
Flask==1.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
kiwisolver==1.1.0
MarkupSafe==1.0
matplotlib==3.1.2
numpy==1.18.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2017.2
requests==2.13.0
six==1.13.0
soupsieve==1.9.5
Werkzeug==0.12.1
