<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_v2.css') }}">
<div class="center-on-page">
<body>
<h1>台灣統一發票中獎統計</h1>
<h1> <small><font size="4">選擇欲統計區間 </font><font size="3">(ctrl、shift 多選)</font></small></h1>
<form class="form-inline" method="POST" action="{{ url_for('result') }}">
   <div class="select">
    <select name="comp_select" class="selectpicker form-control" multiple>
    {% for o in data %}
     <option value="{{ o.name }}">{{ o.name }}</option>
    {% endfor %}
    </select>
   </div>
    <button type="submit" class="btn">Go</button>
</form>
</body>